d2020d{
	font-size: 20px;
	font-family: 'Cantarell', sans-serif;
	font-weight: bold;
	margin-top: 8px;
	font-size: 60px;
	background-color: black;
	color: rgb(238, 234, 28);
	border-radius: 20px;
	padding: 2px;
	width: 500px;
}

